.card {
  border: none;
  top: 20%;
  left: 6%;
  margin-right: 20px;
  width: 150px;
  height: 250px;
  background-color: rgba(242, 243, 170, 0.897);
  word-wrap: break-word;
  position: relative;
  border: solid 1px wheat;
  box-shadow: 9px 7px grey;
}

.card-name {
  top: 0;
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.438);
  color: white;
  overflow: hidden;
  width: 120px;
  max-width: 130px;
  font-weight: 300;
}

.card-input {
  width: 100px;
}

.card-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  border: 0;
  background-color: rgba(242, 243, 170, 0.897);
  font-size: medium;

  &:hover {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
  }
}

.description {
  width: 150px;
  position: absolute;
  top: 70px;
  text-align: center;
}

.description-input {
  width: 150px;
  height: 180px;
}

.collapsible {
  position: absolute;
  top: 30px;
}
