.dashboard {
  position: relative;
  display: flex;
  width: 75vw;
  height: 30vw;
  background-color: lightblue;
  margin: auto;
  margin-bottom: 5vh;
  box-shadow: 0.65vw 0.5vw #888888;
  border: solid 0.3vw rgb(255, 255, 255);
}

.create-card-btn {
  position: absolute;
  width: 10vw;
  height: 5vh;
  top: 0;
  right: 0;
  border: solid 2px rgba(255, 255, 255, 0.438);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.986);
  font-weight: 500;
  font-size: 0.85vw;

  &:hover {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
  }
}

.dashboard-name {
  position: absolute;
  padding: 1.5vw;
  height: 4.3vw;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.438);
  min-width: 10vw;
  color: white;
  font-weight: 500;
  font-size: 1.2vw;
  letter-spacing: 0.05vw;
}

.dash-input {
  padding: 0.3vw;
  width: 12.6vw;
}

.dashboard-btn {
  justify-content: center;
}
